<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcessLogin</display-name>
    <servlet-name>ProcessLogin</servlet-name>
    <servlet-class>com.simplilearn.ProcessLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLogin</servlet-name>
    <url-pattern>/ProcessLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessAirlinesTicket</display-name>
    <servlet-name>ProcessAirlinesTicket</servlet-name>
    <servlet-class>com.simplilearn.ProcessAirlinesTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAirlinesTicket</servlet-name>
    <url-pattern>/ProcessAirlinesTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessAirlinesTicket1</display-name>
    <servlet-name>ProcessAirlinesTicket1</servlet-name>
    <servlet-class>com.simplilearn.ProcessAirlinesTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAirlinesTicket1</servlet-name>
    <url-pattern>/ProcessAirlinesTicket1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.simplilearn.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceServlet</display-name>
    <servlet-name>PlaceServlet</servlet-name>
    <servlet-class>com.simplilearn.PlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceServlet</servlet-name>
    <url-pattern>/PlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.simplilearn.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessPlacesList</display-name>
    <servlet-name>ProcessPlacesList</servlet-name>
    <servlet-class>com.simplilearn.ProcessPlacesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPlacesList</servlet-name>
    <url-pattern>/ProcessPlacesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirplaneList</display-name>
    <servlet-name>AirplaneList</servlet-name>
    <servlet-class>com.simplilearn.AirplaneList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirplaneList</servlet-name>
    <url-pattern>/AirplaneList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirplaneDetailList</display-name>
    <servlet-name>AirplaneDetailList</servlet-name>
    <servlet-class>com.simplilearn.AirplaneDetailList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirplaneDetailList</servlet-name>
    <url-pattern>/AirplaneDetailList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingConfirmed</display-name>
    <servlet-name>BookingConfirmed</servlet-name>
    <servlet-class>com.simplilearn.BookingConfirmed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingConfirmed</servlet-name>
    <url-pattern>/BookingConfirmed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingSuccess</display-name>
    <servlet-name>BookingSuccess</servlet-name>
    <servlet-class>BookingSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingSuccess</servlet-name>
    <url-pattern>/BookingSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalInfo</display-name>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>com.simplilearn.PersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfo</servlet-name>
    <url-pattern>/PersonalInfo</url-pattern>
  </servlet-mapping>
</web-app>